#wind-direction-chart-legend .dc-html-legend {
    overflow: hidden;
}

#wind-direction-chart-legend .dc-html-legend .dc-legend-item-vertical {
    padding-top: 4px;
    padding-bottom: 4px;
}

#wind-direction-chart-legend .dc-html-legend .dc-legend-item-label {
    font-size: 1em;
}

#mapid { height: 800px; }

h1, h2, h3, h4 {
    text-align: center;
    font-weight: bold;
}

div.dc-chart {
    float: none;
}

div.dc-chart svg {
    margin: 0 auto;
    display: block;
}

.reset-all {
    display: block;
    margin: 0 auto;
}